body{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    word-spacing: 3px;
}

#subwrapper {
    postion: relative;
    left: 200px;
}

#title-game {
    font-size: 30px;
    /* position: relative;
    top: 200px;
    left: 280px; */
    font-size: 50px;
}

.allQuestions {
    font-weight: bold;
    font-size: 22px;
    line-height: 2.5em;
}

#start-button {
    background: white;
    color: black;
    /* position: relative;
    top: 250px;
    left: 500px; */
}

#done-button {
    background: white;
    color: black;
}